.text-subtitulo{
	font-family: 'Roboto Slab', serif;
	font-weight:bolder; 
	font-size: 20px;
	text-transform: uppercase;
	color: white;
}

.text-admin.text-subtitulo{
	color: black;
}

/*body{
	background-color:#c5f0a4 ;
}*/


h3{
	font-family: 'Coiny', cursive;
	margin: 5px;
	text-transform: uppercase;
	text-align: center;
}
h1{
	font-family: 'Coiny', cursive;
	font-size: 50px;
	text-transform: uppercase;
}

.roboto{
	font-family: 'Roboto Slab';
}

.text-boton{
	text-transform: uppercase;
	font-weight: bold;
	background-color: white;
	border-width: 3px;
	margin: 10px;
	padding: 15px;
	border-radius:25px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	width: 200px;
	font-family: 'Coiny', cursive;
	font-size: 25px;
}
.contenido{
	font-family: 'Roboto Slab', serif;
	text-align: justify;
	font-size: 15px;
	color: black;
	overflow: auto;
	word-wrap: break-word;
	margin: 5px;
}
.text-ingles{
	font-family: 'Roboto Slab', serif;
	text-align: right;
	font-size: 15px;
	color: black;
	overflow: auto;
	word-wrap: break-word;
}
iframe {
 	width: 100%;
 	height: 40%;
 	margin: 15px;
}	
.login {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #E4EDDB;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: white;
}

.modal-headering {
    min-height: 16.43px;
    padding: 15px 15px 15px 15px;
    border-bottom: 0px;
}
.edit{
	background-color: #fcea90;
}